<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611179505112-65uo53fvr2qfp8n1ttc7ep46s1d3l98e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611179505112-65uo53fvr2qfp8n1ttc7ep46s1d3l98e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611179505112-50l8ia0cnqofv2il1ih4na9n66qeehjd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcl02nWpy8l6I5OONBfR0sz28jjAYQEzU</string>
	<key>GCM_SENDER_ID</key>
	<string>611179505112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readr.news.dev</string>
	<key>PROJECT_ID</key>
	<string>readr-dev-38eec</string>
	<key>STORAGE_BUCKET</key>
	<string>readr-dev-38eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611179505112:ios:9ea1779d8b91c881a83ead</string>
</dict>
</plist>